extends ./layout

block styles
 .jumbotron.hero-spacer
    .row
      p
        img(src="http://wiki.medellinvivelamusica.com/_media/logo.png")
      ul
        li
          a(href="inventario") Inventario para Casa de Música de Guayabal
