doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles
    // Bootstrap core CSS
    link(href='/styles/bootstrap.css', rel='stylesheet')
    link(href='/styles/bootstrap-select.css', rel='stylesheet')
    link(href='/styles/bootstrap-tagsinput.css', rel='stylesheet')
    link(href='/styles/datepicker3.css', rel='stylesheet')
    // Custom CSS for the 'Heroic Features' Template
    link(href='/styles/heroic-features.css', rel='stylesheet')


  body
    block body

    // A few optional dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/linker/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/linker/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/linker/js/example.js")
